.home-container {
  margin: 0 auto;
  padding: 24px;
}

.page-header {
  padding: 40px 0 24px;
}

.apps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 12px;
}

.status {
  padding: 50px;
  text-align: center;
  color: #888;
}

.sentinel {
  height: 20px;
  width: 100%;
}